.desktop-17-child {
  position: absolute;
  top: 212px;
  left: 37px;
  border-radius: var(--br-21xl);
  background-color: var(--color-springgreen);
  width: 180px;
  height: 51px;
}
.co5 {
  color: var(--color-white);
}
.frame-child11 {
  position: absolute;
  top: 0;
  left: 0;
}
.eco5{
  font-size: 50px;
  width: 30px;
  background-color: transparent;
  color: rgba(61,244,112,1);
  border: none;

}
.frame-child11 {
  top: 4px;
  left: 778px;
  border-radius: var(--br-21xl);
  background-color: var(--color-springgreen);
  width: 335px;
  height: 50px;
}
.image-6-icon5 {
  position: absolute;
  top: 14px;
  left: 1069px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.search5 {
  position: absolute;
  top: 17px;
  left: 809px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
}
.frame-child12,
.image-7-icon5 {
  position: absolute;
  top: 1px;
  left: 1197px;
  width: 57px;
  height: 57px;
}
.image-7-icon5 {
  top: 12px;
  left: 1208px;
  width: 35px;
  height: 34px;
  object-fit: cover;
}
.eco-parent2,
.frame-child13 {
  position: absolute;
  top: 44px;
  left: 1235px;
  width: 15px;
  height: 15px;
}
.eco-parent2 {
  top: 81px;
  left: 56px;
  width: 1254px;
  height: 58px;
  font-size: var(--font-size-29xl);
  color: var(--color-springgreen);
}
.user-information3 {
  position: absolute;
  top: 226px;
  left: 44px;
  color: var(--color-black);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.payments3{
  position: absolute;
  top: 304px;
  left: 60px;
  color: white;
  font-size: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;

}
.settings3{
    position: absolute;
    top: 10px;
    left: 0px;
    color: #fff;
    font-size: 25px;
}
.support3 {
  position: relative;
  top: 10px;
  left:11x;
  color: #fff;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;

}
.settings3,
.support3 {
  top: 399px;
  left: 75px;
}
.support3 {
  top: 494px;
}
.desktop-17-child1,
.desktop-17-child2,
.desktop-17-child3,
.desktop-17-inner,
.desktop-17-item {
  position: absolute;
  top: 284px;
  left: 378px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-100);
  width: 235px;
  height: 64px;
}
.desktop-17-child1,
.desktop-17-child2,
.desktop-17-child3,
.desktop-17-inner {
  top: 668px;
}
.desktop-17-child1,
.desktop-17-child2,
.desktop-17-child3 {
  top: 549px;
  width: 494px;
}
.desktop-17-child2,
.desktop-17-child3 {
  top: 430px;
  width: 487px;
}
.desktop-17-child3 {
  top: 284px;
  left: 673px;
  width: 235px;
}
.first-name,
.last-name {
  position: absolute;
  top: 304px;
  left: 398px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.last-name {
  left: 700px;
}
.gmailcom,
.username {
  position: absolute;
  top: 450px;
}
.username {
  left: 400px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.gmailcom {
  left: 719px;
  color: var(--color-white);
}
.address,
.mobile-number {
  position: absolute;
  top: 569px;
  left: 400px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.mobile-number {
  top: 688px;
  left: 398px;
}
.desktop-17 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1031px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  font-family: var(--font-inter);
}
